body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  padding: 40px;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 16px;
  background: #3b82f6;
  border: none;
  cursor: pointer;
}
